{{!-- {{page-title "Index"}} --}}
{{!-- <div style="background-image: url('wp7755011-torture-wallpapers.jpg'); background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;"> --}}
<div class="container">
  <h1>...</h1>
  <h1>...</h1>
  <h1>...</h1>

  <LinkTo @route="properties">Properties</LinkTo>

  
    {{!-- {{#parallax-content speed=0.2 height=400 }}
      <img src="Chain-PNG-Photos.png">
    {{/parallax-content}} --}}
  

  {{!-- {{#parallax-content speed=0.5 height=400 }}
    <img src="wp7755011-torture-wallpapers.jpg">
  {{/parallax-content}} --}}

  {{outlet}}

  <h1>...</h1>
  <h1>...</h1>
  <h1>...</h1>
  <h1>...</h1>
  <h1>...</h1>
  <h1>...</h1>
  <h1>...</h1>
  <h1>...</h1>
  <h1>...</h1>
</div>